.sidebar {
    width: calc(var(--size-sidebar-width) + env(safe-area-inset-left));
    height: 100%;
    background-color: var(--color-background-alt);
    box-sizing: border-box;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: calc(-1 * env(safe-area-inset-left));

    & > div {
        padding: 3rem 2rem max(env(safe-area-inset-bottom, 2rem), 4rem) calc(env(safe-area-inset-left, 2rem) + 2rem);
        overflow-y: auto;

        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;

        & > div {
            width: 100%;
        }
    }
}

@keyframes slidein {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.sidebar--mobile {
    display: none;
    position: fixed;
    width: 100%;
    height: calc(100% - var(--size-header-occupy));
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0;
    align-items: flex-start;
    left: 0;
    z-index: 50;

    &.sidebar > div {
        width: 64%;
        height: 100%;
        background-color: var(--color-background-alt);
        box-sizing: border-box;
        padding: 3rem 2rem calc(env(safe-area-inset-bottom, 2rem) + 2rem);

        overflow-y: auto;

        & > div {
            width: 100%;
        }
    }

    &.sidebar--display {
        display: flex;

        & > div {
            animation: slidein 0.3s;
        }
    }
}

.sidebar > div {
    width: 100%;
}
