.voteContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    h1 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    input {
        width: 100%;
        font-size: 1.6rem;
        padding: 0.6rem 0.6rem;
        box-sizing: border-box;
        margin-bottom: 0.6rem;
        border: 1px solid #aaa;
        border-radius: var(--border-radius-medium);
        transition: border-color var(--transition-duration-base);

        &:focus {
            border-color: var(--color-primary);
        }
    }
}
