.button {
    padding: 0.6rem 1rem;
    border-radius: var(--border-radius-large);
    font-size: 1.4rem;
    color: var(--color-white);
    transition: background-color var(--transition-duration-base);
    cursor: pointer;
}

.button-primary {
    background-color: var(--color-background-button-primary);
}
.button-primary:hover {
    background-color: var(--color-background-button-primary-hover);
}
.button-secondary {
    background-color: var(--color-background-button-secondary);
    color: black;
}
.button-secondary:hover {
    background-color: var(--color-background-button-secondary-hover);
}

.button--disabled {
    cursor: progress;
}
