.button {
    background: none;
    font-size: 1.4rem;
    color: var(--color-text-base);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.8rem 1rem;
    border-radius: var(--border-radius-extra-large);
    background-color: var(--color-background-button-white-transparent);
    box-sizing: border-box;
    transition: var(--transition-background-color);
    cursor: pointer;
}

.active {
    background-color: #ccc;
}
