.sidebar {
    width: var(--size-sidebar-width);
    height: 100%;
    background-color: var(--color-background-alt);
    box-sizing: border-box;
    padding: 3rem 2rem 2rem;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: scroll;
}

@media screen and (max-width: 675px) {
    :root {
        --size-sidebar-width: 0px;
    }
    .sidebar {
        display: none;
        position: fixed;
        width: 100%;
        top: var(--size-header-height);
        left: 0;
        padding-left: 25%;
        padding-right: 25%;
        z-index: 100;
    }
}

.sidebar > div {
    width: 100%;
}
