.sidebar {
    width: var(--size-sidebar-width);
    height: calc(100% - var(--size-header-height));
    background-color: var(--color-background-alt);
    box-sizing: border-box;
    padding: 3rem 2rem 2rem;
    position: fixed;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sidebar > div {
    width: 100%;
}
