.button {
    height: 3.6rem;
    border-radius: 2rem;
    background-color: var(--color-background-button-secondary);
    transition: background-color 0.15s;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 400;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: var(--color-background-button-secondary-hover);
}

.userProfileButton {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0.8rem;
    box-sizing: border-box;
    width: auto;
    max-width: 100%;
}

.profilePicOnly {
    padding: 0;
    height: auto;
    border: 1px solid #ccc;

    & > .userProfilePic {
        width: 3rem;
        height: 3rem;
    }
}

.userProfilePic {
    width: 2.4rem;
    min-width: 2.4rem;
    height: 2.4rem;
    flex-shrink: none;
}

.userNickname {
    width: 100%;
    height: min-content;
    margin: 0 0.8rem;
    font-size: 1.4rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
